<section ng-controller="EditController" >
  <button class="btn btn-default btn-sm" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
<h1 class='col-md-12 text-center' >Edit smartbin {{smartbin.ID}}</h1 >
  <div class='col-xs-12 col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 edit-form-bg'>

  <div growl></div>
  <form class="form-horizontal">
     <div class="form-group">
        <label class="col-sm-2 control-label">Location</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model= "newLocation" placeholder="{{smartbin.location}}">
        </div>
      </div>
   <div class="form-group">
     <div class="col-sm-offset-2 col-sm-10">
       <button ng-click="editLocation()" class="btn btn-default btn-sm">Save New Location</button>
     </div>
   </div>
   <div class="form-group">
     <label class="col-sm-2 control-label">Description</label>
     <div class="col-sm-10">
       <textarea class="form-control" rows="3" ng-model= "newDescription" placeholder="{{smartbin.description}}"></textarea>
     </div>
   </div>
 <div class="form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <button ng-click="editDescription()" class="btn btn-default btn-sm">Save New Description</button>
     <button class="btn btn-danger btn-sm" style="float:right;" ng-bootbox-title="Delete Smartbin" ng-bootbox-custom-dialog="Are you sure you want to delete this smartbin?" ng-bootbox-buttons="customButtonDelete">Delete Smartbin</button>
   </div>

  </form>

</div>
</section>
