html {
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
  height:100%;
  background-repeat: no-repeat;
  background-position: center bottom;

}


.footer {
  position: absolute;
     z-index: 1;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

}

.container {
  width: auto;
  padding: 0 15px;
}
.container .text-footer {
  margin: 20px 0;
   text-align: center;
   color: black;
}

.login-form-bg{
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-top: 50px;

}

.edit-form-bg{
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-top: 50px;

}

.buttonedit{
  background: transparent;
  border: none !important;
  float: right;
}

.dashboard-form-bg{
  background-color: white;
  border: 15px solid;
  border-radius: 15px;
  border-color: white;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 50px;
}

.warningfull {
  background-color: red;
  border: 15px solid;
  border-radius: 15px;
  border-color: red;
  margin-right: 10px;
  margin-left: 20px;
  margin-top: 50px;
}
